<header class="d-flex justify-content-center py-3">
  <ul class="nav nav-pills">
    <li class="nav-item">
      <a href="javascript:void(0);" routerLink="/home" routerLinkActive="active" class="nav-link">Home</a>
    </li>
    <li class="nav-item"><a href="javascript:void(0);" routerLink="/notas" routerLinkActive="active" class="nav-link">1. Calcular Média</a>
    </li>
    <li class="nav-item"><a href="javascript:void(0);" routerLink="/calculadora" routerLinkActive="active" class="nav-link">2. Calculadora</a>
    </li>
    <li class="nav-item"><a href="javascript:void(0);" routerLink="/formulario" routerLinkActive="active" class="nav-link">3. Cadastro de Aluno</a>
    </li>
    <li class="nav-item"><a href="javascript:void(0);" routerLink="/seguro" routerLinkActive="active" class="nav-link">4. Apólice de Seguro</a>
    </li>
  </ul>
</header>